*.class

# Package Files #
*.jar
*.war
*.ear

SnakeCubed/nbproject
  build-impl.xml
  + private/
  + project.properties
  + project.xml
SnakeCubed/build
  built-jar.properties
  + classes/
  + empty/

SnakeCubed/dist/
SnakeCubed/dist-linux-amd64/
SnakeCubed/dist-linux-i586/
SnakeCubed/dist-macosx-ppc/
SnakeCubed/dist-macosx-universal/
SnakeCubed/dist-solaris-i586/
SnakeCubed/dist-solaris-sparc/
SnakeCubed/dist-solaris-sparcv9/
SnakeCubed/dist-windows-amd64/
SnakeCubed/dist-windows-i586/
